[2015-08-17 02:11] mossc opened #3 "Build error from DatePickerDialog"
initializer does not override a designated initializer from its superclass

[2015-08-17 02:12] #3 closed

[2015-08-24 16:28] digitaldesaster opened #4 "Orientation Change forces Crash"
Hi, thanks for this tiny picker.

i wondered why my app was crashing without any messages in the log. after a while i recognized that it crashed after a orientation change. i think the NSNofiticationCenter Observer needs to be removed when the View dissapears.. As i my app is only for portrait mode i just removed the Observer.

best regards
Alex

[2015-09-22 03:28] Critter opened #5 "Adding a textfield above or below the datepicker"
Can anyone give an example of how to modify this so add a textfield, either above or below the picker?

[2015-09-22 04:41] Critter commented on #5
n/m. I have it sussed.

[2015-09-22 04:41] #5 closed

[2015-09-25 17:24] viniciussoares commented on #4
Sorry i didn't saw this issue, i've been very busy with my new job.

This will be fixed this weekend along with xcode 7 support..

[2015-09-25 18:04] jimpeters145 opened #6 "Won't compile under Xcode 7 and swift 1.2"
initializer does not override a designated initializer from its superclass

[2015-09-26 04:00] viniciussoares commented on #4
aa82db6ec4e1cdee0e529b6eea4d4482a12a2068

[2015-09-26 04:01] viniciussoares commented on #4
Donned ;) aa82db6ec4e1cdee0e529b6eea4d4482a12a2068

[2015-09-26 04:03] viniciussoares commented on #4
Done ;) aa82db6ec4e1cdee0e529b6eea4d4482a12a2068

[2015-09-26 04:03] #4 closed

[2015-09-28 07:15] huynhphan89 opened #7 "Support cocoapods?"

[2015-09-29 19:04] abrgitlab commented on #7
Up

[2015-09-30 09:51] digitaldesaster opened #8 "dialog not centered in landscape mode"
thanks for fixing the orientation crash. i tested your example project in the ios simulator (iPhone6, iPad Air 2). In landscape mode the dialog is not centered.

best regards
Alex

[2015-10-03 11:26] digitaldesaster opened #9 "Support ios9 Multitasking"
In SplitView Mode on iOS9

UIScreen.mainScreen().bounds delivers the size of the screen. But we want the size of the app.

You can use  UIScreen.mainScreen().applicationFrame instead of UIScreen.mainScreen().bounds

btw: i think you forgot to add a listener to the cancel button ;-)

self.cancelButton.addTarget(self, action: "buttonTapped:", forControlEvents: UIControlEvents.TouchUpInside)

best re

[2015-10-03 15:49] #9 closed

[2015-10-03 15:53] viniciussoares commented on #9
Thank you Alex :D

[2015-10-03 16:06] viniciussoares commented on #8
Hello Alex,

I made some changes in the latest version. Can you test it again?

[2015-10-03 16:08] viniciussoares commented on #6
Hello jim,

The latest version now supports xcode 7 and iOS 9.

:ghost:

[2015-10-03 16:08] #6 closed

[2015-10-03 17:34] digitaldesaster commented on #9
Thank you for this tiny helper :-)

[2015-10-03 17:35] digitaldesaster commented on #8
yes, perhaps tomorrow..

[2015-10-04 09:07] digitaldesaster commented on #9
you need to replace all
UIScreen.mainScreen().bounds
with
UIScreen.mainScreen().applicationFrame

you still use bounds in some lines...

[2015-10-16 11:55] MaxLeggieri opened #10 "Dialog disappears randomly"
When i open the dialog it disappear after a while, randomly, on my iPhone 5s iOS 9.0.2

[2015-10-21 21:31] Jirka1111 opened #11 "How can I delete date? Or how can I set an empty date?"
My problem is simple. The user click on DatePickerDialog, the modal shows up. But now he realized that he don't want to set up date. Is there a way how to set up a blank date? Maybe a button with erased function, or empty date after click on cancel.

Thanks in advance for help.

[2015-10-29 13:27] longxianlin opened #12 "how change to my color theme?"
I want background black color, font color white
change many views, not working.

[code]

this work in swift2.1

[2015-10-29 13:36] longxianlin commented on #12
ok,
i try this libs
FxDatePicker, very good

[2015-12-04 07:39] ghost opened #13 "setting datepicker"
i want set minuteInterval.
but i don't access datePicker
datePicer is private property.

[2016-01-07 05:26] DreamTekis opened #14 "time"
How to get time from dialog?
even though mode id Time dialog returning date

[2016-02-23 10:57] cuimingda commented on #10
me too, i guess dialog disappeared when rolate device

[2016-03-03 17:24] HardcoreIOS opened #15 "Allow custom features"
Please allow the user to have custom features. Like I want the background to have a blur when the picker view is presented, the pickerview's background to be a black instead of the default gray, and the pickerview's text's to be white instead of the default black!

[2016-03-04 00:50] lfarah commented on #7
+1

[2016-03-19 16:33] serralvo commented on #10
Yes, the component is listening to  `UIDeviceOrientationDidChangeNotification`, and in the selector ` deviceOrientationDidChange` the method `close()` is called.

[2016-04-05 14:10] jojost1 commented on #14
Like to do this as well.

[2016-04-21 11:20] kike0kike opened #17 "Format date"
How can I format de return value? For example "dd-mm-YYYY"

Thanks!

[2016-04-22 03:22] m-etka opened #18 "Dialog doesn't appear (XCode 7.3)"
Dialog doesn't appear on my project.

Dialog view's frame seems to be correct:
`(0.0, 0.0, 320.0, 568.0)`

Also I tried to bring subview front by adding this line in the `func show:` method:
`UIApplication.sharedApplication().windows.first!.bringSubviewToFront(self)`

I'm using a navigation view controller under a tab bar controller. When debugging nothing seems to be wrong. I think it's only a vi

[2016-05-12 10:49] riazurcse opened #20 "DatePicker Dialog not showing"
Hello Dear,
I am using storyboard. If i set entry point using storyboard then dialog working fine. When i set rootViewController programmatically in AppDelegate, DatePickerDialog not working anymore.

window =  UIWindow(frame: UIScreen.mainScreen().bounds)
        window?.makeKeyAndVisible()

        storyboard = UIStoryboard(name: "Main", bundle: nil)

        let homeViewController = self.storyb

[2016-05-13 09:08] Rashesh-Bosamiya opened #21 "Constraints in date picker."

[2016-05-13 09:08] #21 closed

[2016-05-13 09:10] Rashesh-Bosamiya opened #22 "Constraints in date picker."
How can I put Constraints in selecting date? (e.g. set minimum date and maximum date)

[2016-07-09 06:39] jgutierrez11 opened #26 "How to handle cancel button?"
When i press cancel the label showing the date resets its content.

[2016-07-13 12:52] sha8wn commented on #17
try:

DatePickerDialog().show("Date of Birth", doneButtonTitle: "Save", cancelButtonTitle: "Cancel", datePickerMode: .Date)
        {
            (date) -> Void in
                let dateFormatter = NSDateFormatter()
                dateFormatter.dateFormat = " dd / MM / yyyy"
                self.dobTextField.text = "\(dateFormatter.stringFromDate(date))"
        }
        }

[2016-07-19 17:18] mickaelmonsieur commented on #18
I have the same problem with XCode 7.3.1.
It makes it unusable ....

[2016-07-19 18:28] lfarah commented on #26
I'm working on this right now...

[2016-07-19 18:36] lfarah commented on #26
Hey @jgutierrez11, I updated the lib.
Now on the callback you can do this:
[code]

[2016-07-19 18:36] #26 closed

[2016-07-19 18:41] lfarah commented on #22
This is possible on #23. We're just waiting for @madeinqc  to rebase his pull request 😄

[2016-07-19 18:57] lfarah commented on #18
Hey @mickaelmonsieur and @m-etka . I'm the new admin of this repo. Can you give me an example project of this problem?
Everything works here
<img width="413" alt="screen shot 2016-07-19 at 3 56 04 pm" src="https://cloud.githubusercontent.com/assets/6511079/16962748/6253bb6c-4dc9-11e6-897c-bd8039695c7e.png">

[2016-07-19 18:57] lfarah commented on #20
Duplicate of #18

[2016-07-19 18:57] #20 closed

[2016-07-19 18:58] lfarah commented on #18
@riazurcse said:
Hello Dear,
I am using storyboard. If i set entry point using storyboard then dialog working fine. When i set rootViewController programmatically in AppDelegate, DatePickerDialog not working anymore.

window = UIWindow(frame: UIScreen.mainScreen().bounds)
window?.makeKeyAndVisible()

    storyboard = UIStoryboard(name: "Main", bundle: nil)

    let homeViewController = self.storyb

[2016-07-19 18:58] #17 closed

[2016-07-19 19:03] lfarah commented on #14
Hey guys, I'm the new admin of this page.
Both modes return an ```NSDate``` and in order to get the time, you have to do the following:
[code]

[2016-07-19 19:03] #14 closed

[2016-07-19 19:07] mickaelmonsieur commented on #18
Hi @lfarah
My problem is that I want to put the 'touch up inside' on the UITextField and not on a UIButton. And in this case it does not work...

[2016-07-19 19:10] lfarah commented on #15
Duplicate of #12

[2016-07-19 19:10] #15 closed

[2016-07-19 19:10] lfarah commented on #12
@HardcoreIOS said:
Please allow the user to have custom features. Like I want the background to have a blur when the picker view is presented, the pickerview's background to be a black instead of the default gray, and the pickerview's text's to be white instead of the default black!

[2016-07-19 19:12] lfarah commented on #11
This is fixed on 9830aa0

[2016-07-19 19:12] #11 closed

[2016-07-19 19:17] lfarah opened #27 "Won't work in landscape mode"
* The Picker won't show in landscape mode (#8)
* If the device is rotated to landscape, the Picker disappears (#10)
* If in landscape mode and goes back to portrait, Picker also won't show

[2016-07-19 19:48] lfarah commented on #18
@mickaelmonsieur I got it to work using the UITextFieldDelegate:
[code]
The problem is that once you show it once, it won't show for the next time. Related to #27 I believe

[2016-07-19 19:54] lfarah commented on #18
Alright, now it works completely:
[code]
We have a problem on the close() method that doesn't completely restarts the DatePicker

[2016-07-19 19:57] lfarah commented on #8
Closing this because issue 27 is more complete

[2016-07-19 19:57] #8 closed

[2016-07-19 19:57] lfarah commented on #10
Closing this because issue 27 is more complete

[2016-07-19 19:57] #10 closed

[2016-07-19 21:09] lfarah commented on #18
Hey guys, I launched a new version (9830aa0) ```1.1.2``` and these problems are fixed.
Please let me know if it worked for you guys 😉

[2016-07-19 21:09] #18 closed

[2016-07-19 21:09] #27 closed

[2016-07-19 21:25] #7 closed

[2016-07-20 06:25] mickaelmonsieur commented on #18
xcode 7.3.1 : "if date != nil {" ---> Value of type 'NSDate' can never be nil, comparison isn't allowed

[2016-07-20 06:39] mickaelmonsieur commented on #18
and the dialog will not open in my project, and in your demo either. (Only the button!)

[2016-07-22 03:16] lfarah commented on #18
Hey @mickaelmonsieur, is there any other way we can contact (via Twitter DM or Facebook Messages) so we can solve this?
I just downloaded the example project and everything works here.

[2016-08-21 22:26] Reservations commented on #12
Is customizing the color possible yet?

[2016-08-29 06:13] malhobayyeb opened #29 "Framework file name"
After doing carthage update the framewrok file name is:

`DatePickerDialogFramework.framework`

Instead of:
`DatePickerDialog.framework`

In the `README.mdown` documentation:
You are assuming it to be: `DatePickerDialog.framework` as in: `$(SRCROOT)/Carthage/Build/iOS/DatePickerDialog.framework`

[2016-08-29 19:54] #29 closed

[2016-08-29 19:55] lfarah commented on #29
Hey @malhobayyeb, thanks for spotting that! 😉

[2016-09-05 10:21] lfarah commented on #12
Not yet. I didn't have time to work on this project lately, but I didn't forget about you! @Reservations

[2016-09-07 10:37] UmarJamil opened #30 "Date Picker is returning n-5 hours"
Date Picker is returning n-5 hours

[2016-09-07 16:37] lfarah commented on #30
Hmm, interesting. I'm geting n+7 hours
<img width="358" alt="screen shot 2016-09-07 at 9 36 20 am" src="https://cloud.githubusercontent.com/assets/6511079/18320411/92847ccc-74de-11e6-87af-69d8affe5f65.png">

[2016-09-07 16:47] lfarah commented on #30
@viniciussoares do you have any idea on how this works?

[2016-09-08 14:03] gruenekampfente opened #31 "DatePickerDialog don't show when setting entry point programmatically"
Hello everybody!

I have a big problem and hope one of you can help me.
When I open my App the first time, with the entry point from the storyboard, everything works fine. But when I open it the second time, where I set the entry point trough the AppDelegate class the dialog don't appear on the screen. I've seen a issue where someone had a similar problem, but there was no solution for this.

Than

[2016-09-09 03:44] lfarah commented on #30
I found the problem. When using NSDate, you have to use a ```NSDateFormatter``` to convert it to string:
[code]

[2016-09-09 03:44] #30 closed

[2016-09-11 20:47] gruenekampfente commented on #31
Ok now I've solved it.
The problem was that I set the `var window: UIWindow?` in AppDelegate by myself in the `didFinishLaunchingWithOptions` Method.
To solve this you just need to modify the Datepicker-Show Method.
Instead of:
`UIApplication.sharedApplication().windows.first!.addSubview(self)
        UIApplication.sharedApplication().windows.first!.bringSubviewToFront(self)
        UIApplication.

[2016-09-12 18:59] lfarah commented on #31
@gruenekampfente Thanks for fixing it. Can you submitted a pull request to fix this, please?

[2016-09-15 01:31] viniciussoares commented on #30
@lfarah sorry for the delayed response, i was on vacation. :sweat_smile:

[2016-09-15 04:36] lfarah commented on #30
No problem. You deserve to rest for a bit!

[2016-09-16 09:39] benjohnde opened #33 "Example project seems to be broken"
I would rather write some tests than correcting the example project.
If one has the use case to implement a date picker dialog, the readme contains enough information of how to use this project (which is pretty simple). So I recommend to just leave it out.

[2016-09-16 09:40] benjohnde opened #34 "Swift 3 port necessary"

[2016-09-16 15:36] #34 closed

[2016-09-16 17:02] lfarah commented on #34
@benjohnde
Still getting this error
<img width="817" alt="screen shot 2016-09-16 at 10 01 39 am" src="https://cloud.githubusercontent.com/assets/6511079/18594393/a34be1a4-7bf4-11e6-8b29-68b75fb6491e.png">

[2016-09-16 17:41] benjohnde commented on #34
Check that's in your demo project, the syntax has changed. I am working on it. You will receive another PR today. The actual library is working as intended.

[2016-09-16 17:47] benjohnde commented on #34
You may also need to set the project you are using to the latest Swift syntax.

You can achieve that by explicitly setting "Use Legacy Swift Language Version" to "No" under "Build Settings". Saying that, I assume you are using the latest Xcode 8 :)

[2016-09-16 21:49] benjohnde commented on #22
This issue can be closed?

[2016-09-16 22:18] #22 closed

[2016-09-16 22:57] lfarah commented on #33
@benjohnde I think we should do both tests and example project.

I look through 10-30 libraries a day and the easiest way to test out a library is just by running the Example project. No need to do anything but press the *play* button

[2016-09-16 23:06] benjohnde commented on #33
True, sounds legit to me :)

[2016-09-16 23:07] lfarah opened #37 "Tests"
As discussed in #33, we should have tests for this library

[2016-09-18 21:53] benjohnde commented on #31
Can also be closed :)

[2016-09-18 21:55] benjohnde commented on #13
`datePicker` is a public variable since some commit. You can access the UIDatePicker through

[code]

Can also be closed.

Cheers!

[2016-09-18 21:57] benjohnde commented on #12
That sounds great. Could be a bit difficult to let the DatePickerDialog be fully customizable. But it should be worth to implement a few styles (for instance dark-blurry, white-transparent and so on and so forth).

[2016-09-18 21:58] benjohnde commented on #37
I would reformat the code a bit in near future and then also write a handful of meaningful tests (well, at least from my point of view).

[2016-09-19 08:04] lfarah commented on #37
Thanks @benjohnde. I really appreciate the help! 😄

[2016-09-19 08:05] #13 closed

[2016-09-19 08:05] #31 closed

[2016-09-19 08:40] #33 closed

[2016-09-22 20:07] slown1 opened #39 "24H format?"
Hello,

Can you please point out how to enable 24H format instead of using AM and PM for the time?

Thank you.

[2016-09-22 23:09] lfarah commented on #39
Hey @slown1,
DatePickerDialog has a ```datePicker: UIDatePicker```, so you can select the 24H mode by doing the following:
[code]

Let me know if something goes wrong! 😄

[2016-09-22 23:09] #39 closed

[2016-10-03 14:31] pradeepippaguntaspv opened #41 "How to restrict future date"
How to restrict the future date ?

[2016-10-04 04:31] lfarah commented on #41
Hey @pradeepippaguntaspv, thanks for using DatePickerDialog! 🎉
You can check a working example in our example project:
[code]

[2016-10-04 04:32] #41 closed

[2016-10-04 11:48] mayurdzk opened #42 "DatePickerDialog gets dismissed on raising an iOS 10 device."
This could simply be an iOS 10 bug but running an app on an iPhone 6S running iOS 10 device causes the DatePickerDialog to dismiss (since the close() function gets called) itself when the user raises their iPhone or sets the iPhone down. (Similar motions to the raise-to-wake gesture on iPhone 6S/+ devices)

#Steps to reproduce:
- Launch an app and open the DatePickerDialog view.
- Set the device o

[2016-10-04 11:57] mayurdzk commented on #42
As far as I can tell, this bug has been fixed in the latest DatePickerDialog release.

[2016-10-04 11:57] #42 closed

[2016-10-12 12:30] stevan-retrocode opened #43 "How to set min time for picker?"

[2016-10-14 07:39] shenyufei opened #44 "In ios10, the first installation of the application, not pop-up dialog"
Is the meaning of the title，But I quit application, then the second time, to open is no problem.

[2016-10-19 08:43] #43 closed

[2016-10-24 09:17] shenyufei commented on #18
I have the same problem. How to solve?
In ios10, the first installation of the application, not pop-up dialog.
But I quit application, then the second time, to open is no problem.

 When i set rootViewController programmatically in AppDelegate, DatePickerDialog not working anymore.

[2016-10-24 09:30] mayurdzk commented on #18
It works fine for me. Would you like to share the code that you're trying to run?

[2016-10-24 09:37] shenyufei commented on #18
`window = UIWindow(frame: UIScreen.mainScreen().bounds)
                window?.backgroundColor = UIColor.whiteColor()

//        let nav = CusNavigationController(rootViewController: MainViewController())
                window?.rootViewController = MainViewController()
                window?.makeKeyAndVisible()
`

When I click on the button, it will run the function.
Then I added the two parame

[2016-10-25 05:51] shenyufei commented on #18
IOS10 have this problem.But IOS9 there is no same problem.

[2016-10-25 06:49] benjohnde commented on #18
Hmm works for me on iOS10.

[2016-10-25 06:50] benjohnde commented on #44
Sounds pretty weird. Maybe create a new fresh project from scratch and try out your code snippet in a clean environment.

[2016-10-25 06:53] shenyufei commented on #18
When i set rootViewController programmatically in AppDelegate, DatePickerDialog not working anymore.

[2016-10-28 07:28] shenyufei commented on #44
duplicate #18 ,so close.
But this problem is not resolved. Why ?

[2016-10-28 07:28] #44 closed

[2016-10-30 06:58] proauto opened #47 "Swift 3 issue"
There's any plan to support swift3??

Thanks to your nice work, I use it very well but I have to upgrade swift version....

[2016-10-31 16:24] lfarah commented on #47
Hey @proauto, we already support Swift 3 since last month. I just tested and installed the lib in one of my projects and everything works perfectly.

1. What error are you getting?
2. What version of the library do you have?
3. Are you using CocoaPods?

I'm going to close the issue and in case you're still having problems, I'll reopen!

[2016-10-31 16:24] #47 closed

[2016-11-04 09:15] shenyufei commented on #18
Hi,guys, I'm not kidding. why do not you answer me？ @benjohnde  @lfarah

[2016-11-04 13:26] benjohnde commented on #18
I will look into this issue in more depth on Monday.

[2016-11-04 13:28] benjohnde commented on #18
Do you have any example project regarding your use case? You could create a repo, this would make things easier for us to deep dive into your issue.

[2016-11-04 16:48] lfarah commented on #18
@nschucky can you give a help?

[2016-11-08 05:45] shenyufei commented on #18
Sorry, I'm a rookie. I won't create a repo.
But I believe that if you do this, you will also appear this bug.
When i set rootViewController programmatically in AppDelegate, DatePickerDialog not working anymore.
In ios 10. @benjohnde
Sorry.

[2016-11-08 08:26] benjohnde commented on #18
@shenyufei I think it is not really an effort for you to provide us with a sample project. You ask for help -- we want to help! We are not kidding either. I can not reproduce your bug on iOS 10, even when playing around with the UIWindow and rootViewController.

If you won't create a repo, nobody can help you. Here you can see what I tried to reproduce your bug: https://github.com/benjohnde/Dialog

[2016-11-14 06:42] shenyufei commented on #18
My question is this:
First of all, in the main page, DatePickerDialog is normal operation, and then I log out, switch MainViewController. Then I log, and then switch back to the main page, and then DatePickerDialog not pop up.

[2016-11-15 13:21] Tindi opened #49 "Fails to build on Swift 2.3"
Hi,

Great project! I have an issue building on Swift 2.3 fails with numerous errors on the DatePickerDialog.swift file. How can I build on Swift 2.3?

[2016-11-15 17:03] jhoanarango opened #50 "First Responder.. / Resign"
When the textField is tapped once, it works fine, but after canceling or selecting a date, if I want to modify the date and tap on the textField, the picker does not come up again. I have to select a different textField in order for it to work again.

[2016-11-20 23:16] smaugho commented on #49
Hi, I downgraded the source code to run in Swift 2.3. I made a pull request, but of course, the best is to create a new branch for it, to keep the support for Swift 2.3.

While is not included in the project, you could download the DatePickerDialog.swift file directly to your project from: https://github.com/smaugho/DatePickerDialog-iOS-Swift/tree/Swift_2.3/Sources

[2016-11-27 05:43] lfarah commented on #50
@jhoanarango can you share a project showcasing this problem?
I'm sorry for the delay...

[2016-11-28 17:04] ShadowSynthesis opened #53 "How to disable a particular date in DatePickerDialog ?"
Hey all,

i'm working on a datePicker for booking system.
I need to disable some dates because there aren't available for booking (restaurant closed on 28/11/2016 for example)
is there any way to do it ?

Thank You !

[2016-11-29 02:14] shenyufei commented on #18
Hi, I know how to repo, and really have problems, please look at
https://github.com/shenyufei/DialogAppearExample
@benjohnde

[2016-11-29 02:24] shenyufei commented on #18
Hi, I know how to repo, and really have problems, please look at
https://github.com/shenyufei/DialogAppearExample
@benjohnde

[2016-11-29 05:25] lfarah commented on #53
Hey @ShadowSynthesis, we currently do not support that.
I looked into [this StackOverflow question](http://stackoverflow.com/questions/23398366/uidatepicker-restrict-hours-but-not-date) and you can do it with the UIDatePicker dalegate inside ```DatePickerDialog.swift```

[2016-11-29 05:28] lfarah commented on #53
If you have time, it would be awesome if you opened a PR adding this functionality!

[2016-11-29 07:23] benjohnde commented on #18
It's working for me! Using iOS 10.1 (Simulator and Device) and Xcode 8.1 (8B62). I converted your Code to the most recent Swift 2.3 Syntax.

[2016-11-29 08:12] shenyufei commented on #18
I'm sorry, I tried last week is buggy, but haven't had the bug has uploaded, wait me find the problem, I contact you again next time to upload

[2016-12-13 23:29] futureinapps opened #54 "80 line error"
My first controller containes button with action on open DatePickerDialog. When i present another controller and than present back my first controller, it said fatal error on line 80. appdelegate.window == nil. What's wrong?

[2016-12-26 21:16] aravasio commented on #12
No news on this yet, right?

[2016-12-26 21:20] Reservations commented on #12
@aravasio I ended up just customizing the color by editing the RGB settings in the code of the library.

[2016-12-26 22:50] aravasio commented on #12
Good call. For some reason it never occurred to me to actually modify a Pod.

[2016-12-28 15:43] lfarah commented on #12
Hey @Reservations, what do you think about opening a PR so other people can customize the colors?

[2016-12-28 15:44] lfarah commented on #12
Really sorry guys for not giving attention to this... I'm really packed with stuff to do in other projects

[2017-01-23 18:19] xs6615 opened #56 "how to set dateFormatter?"
I have tried many ways, but cannot get the dateFormatter to work.  Can someone show me how to set this up?

[2017-01-23 18:59] lfarah commented on #56
Sure! Post your code here and I can help you!

[2017-01-23 19:08] xs6615 commented on #56
I am using the basic code in the sample. The format I need is below.  THANK YOU!

  @IBAction func datePickerTapped(sender: AnyObject) {
        let currentDate = Date()
        let dateFormatter = DateFormatter()

        dateFormatter.dateFormat = "yyyy-MM-dd"

        var dateComponents = DateComponents()
        dateComponents.month = -12
        let threeMonthAgo = Calendar.current.date(byAdd

[2017-01-23 19:29] lfarah commented on #56
[code]

[2017-01-23 19:30] lfarah commented on #56
I got the code from #30

[2017-01-23 19:30] lfarah commented on #56
Closing this.... Feel free to reopen if it doesn't work

[2017-01-23 19:30] #56 closed

[2017-01-23 20:03] xs6615 commented on #56
Works like a charm.  I only had to make some slight modifications.  I am posting only in case someone else needs it.  THANK YOU!!!.

[code]

[2017-01-30 08:43] Tsymlov opened #58 "Only years in the picker"
Is it able to show only years in the picker? Just without days and months.

[2017-01-31 02:27] lfarah commented on #58
Unfortunately it cannot show only years because we use an ```UIDatePicker``` inside the dialog.
You could change the code and convert it into an ```UIPickerView``` instead.

I don't think this feature is a priority since even apple doesn't implement years only on ```UIDatePicker```

[2017-02-07 10:23] ZUCheema opened #59 "How can i change colour of Title,Cancel and done button?"

[2017-02-07 13:59] ZUCheema opened #60 "Can't change datePickerMode. Its private."

[2017-02-08 03:31] lfarah commented on #60
Hey @ZUCheema, please [take a look at the example](https://github.com/squimer/DatePickerDialog-iOS-Swift#example)

You can change the mode on the method:
[code]

[2017-02-08 03:31] #60 closed

[2017-02-08 03:35] lfarah commented on #59
duplicate of #12

[2017-02-08 03:35] #59 closed

[2017-03-18 10:19] 7ur7Le opened #62 "THE DISPLAYED DATE IS 1 LESS THAN SELECTED DATE"
If we select 4 March 2017... the displayed date will be 3 March 2017

[2017-03-18 19:00] ameli90 commented on #62
If could be because of UTC date

[2017-03-19 13:32] 7ur7Le commented on #62
It happens if we select a date less than the current date. if we select a date which is greater than the current date, then it works fine.

[2017-03-19 19:22] lfarah commented on #62
@7ur7Le can you show us your code?

[2017-03-20 07:39] 7ur7Le commented on #62
@Ifarah Iam using the demo (DatePickerDialogue Example). To generate the issue, try selecting any date before the current date.
Thanks

[2017-03-20 09:26] 7ur7Le commented on #62
Found the problem. Ameli90 was right the problem is due to UTC date.

The solution I found on stackoverflow is following :
http://stackoverflow.com/questions/27891646/xcode-in-swift-datepicker-picks-wrong-date

Thanks Amelio and Ifarah for support, closing issue.

[2017-03-20 09:26] #62 closed

[2017-03-29 11:46] jcrooke opened #63 "Deprecated warning in xcode 8.3"
`..../Pods/DatePickerDialog/Sources/DatePickerDialog.swift:107:77: 'M_PI' is deprecated: Please use 'Double.pi' or '.pi' to get the value of correct type and avoid casting.`

[2017-03-29 11:48] jcrooke commented on #63
Fix is in https://github.com/squimer/DatePickerDialog-iOS-Swift/pull/61

[2017-03-30 06:04] SergeyGamayunov opened #64 "Changing orientation is not supported on iPad"
Hi and big thanks for great pop-up view. Just foк your information, rotation device is not working on iPads.

[2017-04-11 19:18] fymo opened #66 "'M_PI' is deprecated: Please use 'Double.pi' or '.pi'"
Got this warning after XCode 8.3.1 Update

'M_PI' is deprecated: Please use 'Double.pi' or '.pi' to get the value of correct type and avoid casting.

[2017-04-11 19:18] #66 closed

[2017-04-11 19:19] fymo commented on #66
Duplicate of Issue #61

[2017-04-14 23:19] rajahimanath opened #67 "How to dismiss DatePickerDialog programmatically?"
Let us say, user presses Home Button and i want to dismiss the date picker. How do i do it? I don't see any API?

[2017-05-18 09:24] davamp opened #68 "fix dateAndTime please!! time doesn't give what i chosen"

[2017-06-06 12:53] KwesiCobbina opened #69 "Unable to use"
I get this error when i do import "cannot load underlying module for datepickerdialog". thanks in advance

[2017-06-27 15:58] abstractapplications commented on #69
How are you adding the pod? Have you tried building the project?

[2017-06-30 07:12] KwesiCobbina commented on #69
Fails so I'm not able to build

On 27 Jun 2017 3:58 p.m., "abstractapplications" <notifications@github.com>
wrote:

[2017-08-02 17:19] benjohnde commented on #69
Seems like you used Carthage and forget about copying the framework. How did you add the module?

[2017-08-02 17:20] benjohnde commented on #67
This is not support by the default UIAlertView. So I guess you can not intercept the invocation of the Home button in order to dismiss the date picker.

[2017-09-08 19:20] dreed47 commented on #50
I see the exact same behavior.  To change the date after its been set I have to tap outside my text field then back in again.

[2017-09-08 19:26] dreed47 opened #72 "DatePicker does not dismiss keyboard"
I have a simple view that has 2 text fields.  The first text field takes normal input via the keyboard, the second textfield is my date field.  When I when I tap on the date field when the keyboard is already showing the date picker dialogbox shows but the keyboard is not dismissed.   I've tried to dismiss the keyboard via "view.endEditing(true)" and also firstTextField.resignFirstResponder() but

[2017-09-10 01:05] lfarah commented on #72
Hey @dreed47, I had this problem in the past when I was using other libraries like [IQKeyboardManger](https://github.com/hackiftekhar/IQKeyboardManager), but your problem seems like you're not using any. Can you share an example project so I can help you fix that?

[2017-09-10 13:02] dreed47 commented on #72
sure, you can look at this simple example

https://github.com/dreed47/datedialogtest

thanks for your help!

[2017-09-11 10:37] lfarah commented on #72
Thanks for taking time to make an example project. After about an hour, I remembered how I fixed that. Instead of using an ```@IBAction``` for the ```dateTapped()```, use ```textFieldShouldBeginEditing()```.

[code]

Closing this, but feel free to reopen if you have any questions

[2017-09-11 10:37] #72 closed

[2017-09-11 12:15] dreed47 commented on #72
this worked for me.  thanks!  might want to update the installation docs so others use the correct approach.  thanks

[2017-09-11 14:28] lfarah commented on #72
@dreed47 that method on the docs is a button @IBAction and not a textfield, but I'll update it anyways for clarity

[2017-09-11 14:36] lfarah commented on #72
Done ✅  -> https://github.com/squimer/DatePickerDialog-iOS-Swift/pull/73

[2017-09-19 11:08] TheikChan opened #74 "how to add default time for making DatePickerDialog as time picker"
i can't add default time for using DatePickerDialog as time picker

thank you

[2017-09-19 22:18] lfarah commented on #74
You can do it by setting a ```defaultDate``` on the initializer:
[code]

Closing this. Please reopen if you need any help

[2017-09-19 22:18] #74 closed

[2017-09-20 04:13] TheikChan commented on #74
thank you so much

[2017-09-21 19:26] mickychen0524 opened #75 "compile error on xCode9"
I am getting this error - Module compiled with Swift 3.1 cannot be imported in Swift 4.0
I used pod with master branch

[2017-09-22 05:31] kavin06 opened #76 "locale is not changing"
How to change the localy in xcode 8

DatePickerDialog(locale: Locale(identifier: "es_PY")) is not working

[2017-09-22 09:07] lfarah commented on #75
I had this problem with a couple projects. This happens when you build a project with Xcode 8 and open it with Xcode 9. Cleaning the project from Product -> Clean in Xcode 9 and building again. I'm closing the issue but feel free to reopen if you still find any problems

[2017-09-23 17:37] lfarah commented on #76
Hey @kavin06
I just tried adding locale to the example project and it seems to be working:
[code]

<img width="355" alt="screen shot 2017-09-23 at 7 37 16 pm" src="https://user-images.githubusercontent.com/6511079/30775570-9a45e2fe-a096-11e7-9433-40c3e3d25dde.png">

[2017-09-23 17:38] lfarah commented on #76
Closing this. Please feel free to reopen if you're still finding problems

[2017-09-23 17:38] #76 closed

[2017-09-26 04:23] kavin06 commented on #76
I need to change 12 hours format to 24 hours time format,how to add locale in my code and where can you help me pls

        let datePicker = DatePickerDialog()
    //    datePicker.locale: Locale(identifier: "en_GB")
        datePicker.show(title: "ON Time", doneButtonTitle: "Done", cancelButtonTitle: "Cancel", defaultDate: defDate, minimumDate: nil, maximumDate: nil, datePickerMode: .time, callb

[2017-09-26 07:41] kavin06 commented on #39
Thankyou so much...its working

[2017-09-28 10:13] lfarah commented on #76
[code]

[2017-10-07 06:46] kavin06 commented on #39
Hello,
In my project i need up to 99 hours format.how to change 24 hours to  99 hours..Can you help me

[2017-10-07 14:19] lfarah commented on #39
@kavin06 unfortunately you won't be able to do that since UIDatePicker doesn't support that

[2017-10-10 04:04] thephucit opened #77 "DatePickerDialog display not good on Japanese phone >> It is in Showa year"
![95cae9d0-3049-4e03-a1ed-bcebd18d5083](https://user-images.githubusercontent.com/13312098/31368895-cf83ece2-adaa-11e7-894a-1f56f0c9f9b0.jpg)

[2017-10-10 13:58] lfarah commented on #77
Hey @thephucit, thanks for reporting this. I'll take a look on how to fix that and I'll let you know

[2017-10-11 01:24] thephucit commented on #77
thank a lot ^^

[2017-10-16 07:17] tichise opened #78 "Please add @objc to the public method"
Please add @objc to the public method.
The method you wish to add is the following part.

[code]

```required public init?(coder aDecoder: NSCoder)```

```open func show```

[2017-10-18 09:39] #78 closed

[2017-11-13 12:29] #49 closed

[2017-12-21 21:25] gundadittu opened #81 "Show Date Picker Above Keyboard"
I was wondering if anyone knew how to present the DatePicker over the keyboard view if the keyboard is present, putting the keyboard and everything in the background. (When I say over, I don't mean above).

[2018-01-24 10:12] ahmadlabeeb opened #82 "change calender to islamicCivil"
i,m try to change calender to hijri but no change

DatePickerDialog().datePicker.calendar = Calendar.init(identifier: Calendar.Identifier.islamicCivil)

[2018-02-06 10:58] Vidhanshu commented on #12
Just change the gradient color or remove the gradient and change background colors of all title label, Done button, date picker and cancel button.

[2018-05-22 07:04] zahid119 opened #83 "Add support for pick Year only"

[2018-06-17 07:35] devaileen opened #84 "Set Minimum and Maximum date depending on a date"
Hi, is there a way we can set the minimum and maximum date of the pickerdialog depending on a specific date?

for example i have a date which is (mm/dd/yyyy) 06/17/2018

and i want the minimum and maximum date on another pickerdialog to be minimum of the same date and maximum of 1 day only (mm/dd/yyyy) 06/18/2018

Thanks in advance!

[2018-09-24 08:42] rgmyyw opened #85 "Do not support years and months showing?"
Do not support years and months showing, days do not need

[2018-11-01 17:53] eldhoseelias opened #89 "Support for swift 4.2"

[2018-11-02 08:01] olidhossain23 commented on #89
Same issue:
![screenshot 2018-11-02 at 10 00 38](https://user-images.githubusercontent.com/13978657/47900645-4508f900-de86-11e8-88e6-d3bcb790ca1a.png)

[2018-11-09 10:34] veluloganathan commented on #89
use like `pod 'DatePickerDialog', :git => 'https://github.com/papipons/DatePickerDialog-iOS-Swift.git', :branch => 'swift4.2-migration'`  until https://github.com/squimer/DatePickerDialog-iOS-Swift/pull/86 get merged

[2018-12-04 06:10] CharlesTartLabs commented on #68
i was suffered this problem.

[2018-12-04 07:05] CharlesTartLabs commented on #68
date picker dialog box choose date and time set default day only.that default date current date using date object date().to choose free select date to customer.try it.

[2019-03-05 18:25] jpmcglone commented on #89
@veluloganathan that seems to be out of date now too. Does anyone have one that works?

[2019-03-06 04:12] veluloganathan commented on #89
Out of date uh? It is working fine for me.

[2019-07-08 12:08] viniciussoares commented on #89
Done 🎉

[2019-07-08 12:08] #89 closed

[2019-07-23 06:56] TristenChenTao opened #95 "CocoaPods install still version 2 not 3"
CocoaPods install still version 2 not 3

[2019-07-31 20:58] makslevental opened #96 "'UIDatePickerMode' has been renamed to 'UIDatePicker.Mode'"
it looks like you've already fixed this [here](https://github.com/squimer/DatePickerDialog-iOS-Swift/blob/master/Sources/DatePickerDialog.swift#L27) but i just did `pod install` and got an old version? i guess you might need to publish to cocoapods?

[2019-08-05 10:20] gligorkot commented on #95
@viniciussoares are you please able to push the latest podspec to the Cocoapods repo? Thanks!

[2019-08-05 12:49] viniciussoares commented on #95
Sorry about that, i've just pushed the update. It should work now :)

https://cocoapods.org/pods/DatePickerDialog

[2019-08-05 12:49] #95 closed

[2019-08-05 21:14] gligorkot commented on #95
Champion!

[2019-08-16 05:19] svguerin3 commented on #96
@makslevental I'm seeing this issue as well.  I can fix locally and unlock the pod source files, but I'm not sure that fixes it for other devs working on the project.  Have you seen a fix for this, by chance?  I would really like this library, as it's exactly what we are needing.

[2019-08-16 10:49] makslevental commented on #96
@svguerin3 put this in your Podfile instead of just the name ~> version

`  pod 'DatePickerDialog' , :git => 'ssh://git@github.com/squimer/DatePickerDialog-iOS-Swift.git'
`

it'll pull master

[2019-08-16 21:59] svguerin3 commented on #96
That worked, thank you!

[2019-08-19 13:56] viniciussoares commented on #96
To fix this issue, just define the version on your Podfile:

[code]

:)

[2019-08-19 13:56] #96 closed

[2019-08-19 13:58] viniciussoares commented on #54
There hasn't been any activity on this issue recently. Feel free to open a new one if you still experience this problem 👍

[2019-08-19 13:58] #54 closed

[2019-08-19 13:58] viniciussoares commented on #50
There hasn't been any activity on this issue recently. Feel free to open a new one if you still experience this problem 👍

[2019-08-19 13:58] #50 closed

[2019-08-19 13:59] viniciussoares commented on #63
There hasn't been any activity on this issue recently. Feel free to open a new one if you still experience this problem 👍

[2019-08-19 13:59] #63 closed

[2019-08-19 13:59] viniciussoares commented on #69
There hasn't been any activity on this issue recently. Feel free to open a new one if you still experience this problem 👍

[2019-08-19 13:59] #69 closed

[2019-10-02 23:31] seljabali opened #99 "Click outside window to Cancel option"
Hello!

Nice project. It'd be cool to allow the option of lettings users cancel out of the date picker by clicking outside of the widget. Configurable along the lines of

[code]

[2019-10-05 22:48] sisoje opened #100 "fails at appDelegate.window when window is in scene delegate"

[2019-11-07 11:27] ibhavin opened #101 "DatePickerDialog not displaying in iOS13"
DatePickerDialog-iOS-Swift is working in all previous iOS version but in iOS 13 Dialog is not displaying.

[2019-11-10 03:32] ezemartinezna commented on #101
Same here... :(

[2019-11-11 04:43] ibhavin commented on #101
From Pull Request:

Replace this code:
[code]

To this code:
[code]

It will work on iOS 13 too.

[2019-11-11 04:43] #101 closed

[2019-11-17 04:34] Xfcmy commented on #100
crash on

guard let appDelegate = UIApplication.shared.delegate else { fatalError() }
guard let window = appDelegate.window else { fatalError() }

can fix by

var windowOption = UIApplication.shared.delegate?.window
if windowOption == nil {
    windowOption = UIApplication.shared.keyWindow
}
guard let window = windowOption else { fatalError() }

[2019-11-19 18:38] dpalme3160 opened #102 "Instance member 'show' cannot be used on type 'DatePickerDialog'; did you mean to use a value of this type instead?"
I really wish you wouldn't put pods up that are obviously broken.

[2019-12-23 16:12] Alexookah commented on #99
https://github.com/squimer/DatePickerDialog-iOS-Swift/pull/103
added the feature in this PL :)

[2020-01-22 12:00] jeet10214 opened #105 "Date picker dialogue not showing when called from didSelectRowAtIndexPath delegate function of UITableView."
HI,

I refferred you example and added the DatePicker component in my project. Now I want to show when the user taps on cell and select the date. However the DatePickerDialogue is not showing. Here is my implementation

let datePicker = DatePickerDialog(
        textColor: .darkText,
        buttonColor: .systemBlue,
        font: UIFont.boldSystemFont(ofSize: 17),
        showCancelButton: true

[2020-01-22 12:01] jeet10214 commented on #105
Can you tell me what I am doing wrong? I referred your example and the difference is I dont want to add textField.

[2020-02-13 15:01] thelastsummer commented on #100
not working :(

[2020-02-13 16:10] thelastsummer commented on #100
[code]

I added this code and It is working for me

[2020-02-18 20:07] rajuashok commented on #100
This worked! Thanks. Would love if the maintainers fix this in the source. I'll try to send a pull request next week when I have some time.

[2020-03-03 10:51] sylvia971 opened #106 "Dialog not showing in iOS 13"
The dialog is not showing when running the app in iOS 13.

[2020-03-11 08:10] Dubey-Shivani commented on #100
not working in my case

[2020-03-11 08:11] Dubey-Shivani commented on #106
Crash on calling dialog picker show function.

[2020-03-19 07:46] fjpady commented on #106
This is because in iOS 13, App Delegate does not have the variable "window".

You must create it within AppDelegate, Then, let's go to SceneDelegate, At the end of
`func scene (_ scene: UIScene, willConnectTo session: UISceneSession, options connectionOptions: UIScene.ConnectionOptions) {`

 and set the "Window" variable of "AppDelegate":

`let appDel = (UIApplication.shared.delegate as! AppDelega

[2020-04-07 10:04] boazjames commented on #100
This is because in iOS 13, App Delegate does not have the variable "window".

You must create it within AppDelegate, Then, let's go to SceneDelegate, At the end of
func scene (_ scene: UIScene, willConnectTo session: UISceneSession, options connectionOptions: UIScene.ConnectionOptions) {

and set the "Window" variable of "AppDelegate":

let appDel = (UIApplication.shared.delegate as! AppDelegate)

[2020-05-15 11:47] karishmapujara opened #108 "Dark Mode support"
In iOS 13,

If dark mode is enabled in the device, then Date Picker Dialog is not showing properly.

[2020-07-12 08:15] yahyatabba opened #109 "Bug on iOS 14"
hello,

when the date picker dialog show on devices that use iOS 14, this error show:

`*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[_UIDatePickerIOSCompactView _setTextColor:]: unrecognized selector sent to instance 0x7f7ffc4b89c0'
`

How can i fix the bug?
THank you

[2020-07-25 19:40] leonluc-dev commented on #108
I have created a dark mode compatible version of the DatePickerDialog here: https://github.com/leonluc-dev/DatePickerDialog-iOS-Swift/blob/1c2c6ef/Sources/DatePickerDialog.swift which you can add to your project.

Hopefully it can be merged into the main repository soon and be part of the cocoapods package. (It's been waiting as pull request #97 for a while)

[2020-08-04 08:39] Navya-ios opened #110 "datepickerview display format"
How to change pickerview dialog display format mmm-dd-yyyy to dd-mm-yyyy

[2020-08-05 07:31] roulljdh commented on #108
@leonluc-dev thank you for this! I hope the PR gets approved. Works like a charm.

[2020-08-11 10:49] nicholaschong95 opened #111 "iOS 14 handling preferredDatePickerStyle"
Hi, DatePickerDialog will be having issue especially in iOS 14, as preferredDatePickerStyle by default is in compact mode, new picker style will be inline, any idea to fix ?

[2020-09-22 16:17] gmanenti commented on #111
Hi, just insert:

`if #available(iOS 13.4, *) {
            datePicker.preferredDatePickerStyle = .wheels
     }`

in the show function.

[2020-09-24 06:38] mikeld opened #112 "Not working correctly with ios 14"
Can't select a date
Can you help me please.

<img width="261" alt="Captura de pantalla 2020-09-24 a las 8 35 52" src="https://user-images.githubusercontent.com/3073991/94109411-3a242c80-fe41-11ea-90aa-0fdd7934f8f9.png">

[2020-09-24 06:40] mikeld commented on #112
DatePickerDialog().show("Event Date", doneButtonTitle: "Accept", cancelButtonTitle: "Cancel", datePickerMode: .date) {
                (date) -> Void in
                if (date != nil)
                {
                    self.dateEvent = date
                    self.lblDateEvent.text = "\(dateFormatter.string(from:date!))"
                    //update map
                    self.showMapPoints

[2020-09-24 10:27] lexin commented on #112
The preferredDatePickerStyle should be set
Something like this
if #available(iOS 13.4, *) { datePicker.preferredDatePickerStyle = .wheels }

[2020-09-24 10:27] lexin commented on #111
yes. It would be nice to prepare pod update with this line just in the lib

[2020-09-24 11:47] mikeld commented on #112
Thank you very much lexin! now works.
You are the best.

[2020-09-25 17:49] bhaveshsingh0206 commented on #112
what is dataPicker in this case?

[2020-09-25 17:50] bhaveshsingh0206 commented on #112
@lexin what is dataPicker in ur case?

[2020-09-26 16:01] mehyaz commented on #112
I put it in DatePickerDialog.swift
<img width="802" alt="Ekran Resmi 2020-09-26 18 59 44" src="https://user-images.githubusercontent.com/20215054/94344829-a8781300-002a-11eb-8a8b-9f619ba4aec7.png">

[2020-10-01 13:53] UtkuDalmaz commented on #112
Same here

[2020-10-06 18:38] acsarraf commented on #112
@lexin I tried adding your fix but I still get a similar image as OP.
Anyone else also facing this?

[2020-10-13 14:12] banghuazhao commented on #109
Same issue. Any update?

[2020-10-14 12:31] jis247 commented on #112
Go to DatePickerDialog.swift in Sources Folder and add this line
if #available(iOS 13.4, *) { datePicker.preferredDatePickerStyle = .wheels }
@mehyaz showed in the above image
worked for me

[2020-11-22 18:43] ReadyChen22 commented on #112
worked for me

[2021-01-16 05:49] wil-low commented on #112
This line is already in the source, should this issue be closed?

[2021-02-10 10:01] Abiolagbode commented on #112
worked for me thanks.

[2021-02-24 09:32] raaja-nithra opened #116 "DatePickerDialog doesn't show correctly"
![2021-2-24 14 59 44 158](https://user-images.githubusercontent.com/54349194/108980014-3f67fa80-76b1-11eb-9f2b-18e2766ccae0.jpeg)

[2021-02-24 09:57] JegaJegatheesh opened #117 "Doesn't appear on simulator"
In testing device it works perfectly, but in the case of simulator it doesn't appear.

[2021-02-25 07:22] raaja-nithra commented on #112
![Screenshot 2021-02-25 at 12 50 21 PM](https://user-images.githubusercontent.com/54349194/109117549-253d2380-7768-11eb-8642-bc2d4e30b25b.png)

Shows Error @lexin Please Help..

[2021-03-02 17:46] iliasahmed commented on #112
replace the line by
`if #available(iOS 13.4, *) {
            self.datePicker.datePicker.preferredDatePickerStyle = .wheels
  }`

[2021-03-24 08:41] Thisura98 commented on #116
Hi, I believe this is a duplicate of #112.

[2021-03-26 10:39] ucelme opened #118 "How set date for datepicker?"
datepicker.date isn't working. How I can set date when showing datepicker?

[2021-05-05 09:22] furkanvijapura commented on #117
not appear on iPhone and simulator

[2021-05-08 14:02] mithilesh-parmar opened #119 "Close Dialog when parent viewController is removed from stack?"
How can I dismiss dialog when the parent view controller is removed from navigation stack?

[2021-05-14 12:22] pikeychahar commented on #106
I also have a problem with AppDelegate, I'm unable to skip login VC

[2021-10-25 09:04] Dave181295 opened #121 "Interval"
thanks for your lib, how to make intervals minutes ? e.g show 5 ,10 ,15 , 20 etc..

[2021-12-30 07:47] kienwei518 opened #122 "iOS 15 preferredDatePickerStyle inline Time not working"
iOS 14 is working fine..issues come out when upgrade to iOS 15

Date are working fine, but the time tapped, but no respond.. unable to select other time..
minDate set today, maxDate set one year later

if #available(iOS 14.0, *) {
            self.datePicker.preferredDatePickerStyle = .inline
            DispatchQueue.main.async {
                self.datePicker.setValue(UIColor.red, forKey: "text

[2022-02-02 13:00] karishmapujara commented on #117
@JegaJegatheesh  @furkanvijapura
any update?

[2022-02-02 13:25] furkanvijapura commented on #117
No

[2022-03-13 06:33] #85 closed